/*
*.edi
!cal
!MTSM_create_project.py
!df2gpkg.py
!MTSM
!MTSM_create_project.py
!MTSM_edi.py
!MTSM_edit_ats.py
!MTSM_id_rec_sync.py
!MTSM_import_export.py
!MTSM_main_proc.py
!MTSM_proc_jl.py
!MTSM_proc_rec.py
!MTSM_python_modules.py
!MTSM_read_xml.py
!MTSM_run_edit_ats.py
!MTSM_run_id_rec_by_distance.py
!MTSM_run_proc_full.py
!MTSM_run_proc_main.py
!MTSM_run_rec2excel.py
!MTSM_run_rec_export_tsv.py
!MTSM_run_rec_import_tsv.py
!MTSM_run_sh.py
!MTSM_run_xml_reload.py
!MTSM_tools.py
!MTSM_ts_sort.py
!req.txt
!LaPalma_copy_DR.py
!.gitignore
!osm_simplify.ipynb
!wara_add_sites.ipynb
*.rec